<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MySpace_Mongo_Release" connectionString="mongodb://appharbor_c95eca19-bd46-46f9-96a1-ece783f42c14:tqh3i3njpb3ss450ira1fv3n0l@ds045637.mongolab.com:45637/appharbor_c95eca19-bd46-46f9-96a1-ece783f42c14"/>
    <add name="MySpace_Mongo_Dev" connectionString="mongodb://localhost:27017"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms" />

    <machineKey validationKey="E6445B1D448201D88A1A7A02DD36776B70ACD144149DF8C0ADC0DB3DAD0C6BC780AA52BE73E3B64C4C66F93E536732893A4073518B4B72F08F1F3A4735321CE6"
       decryptionKey="2B70571AD50F2F4EF5EBBA39BB08923FA18E3AE8426B177F38E0612DB62C7D7D" validation="SHA1" decryption="AES" />
    <membership defaultProvider="MongoDBMembershipProvider">
      <providers>
        <clear />
        <add name="MongoDBMembershipProvider" type="MongoDB.Web.Providers.MongoDBMembershipProvider" applicationName="MySpace"
            connectionString="mongodb://localhost" database="MySpaceDB" collection="Users"
            enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true"
            maxInvalidPasswordAttempts="100" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>
  </system.web>

  <!--<location path="Handlers/PhotoReceiver.ashx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>-->

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="LiteApp.MySpace.Web.Services.PhotoService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="LiteApp.MySpace.Web.Services.SecurityService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
        <binding name="LiteApp.MySpace.Web.Services.LoggingService.customBinding0">
          <binaryMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="LiteApp.MySpace.Web.Services.PhotoService">
        <endpoint address="" binding="customBinding" bindingConfiguration="LiteApp.MySpace.Web.Services.PhotoService.customBinding0"
          contract="LiteApp.MySpace.Web.Services.PhotoService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="LiteApp.MySpace.Web.Services.SecurityService">
        <endpoint address="" binding="customBinding" bindingConfiguration="LiteApp.MySpace.Web.Services.SecurityService.customBinding0"
          contract="LiteApp.MySpace.Web.Services.SecurityService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="LiteApp.MySpace.Web.Services.LoggingService">
        <endpoint address="" binding="customBinding" bindingConfiguration="LiteApp.MySpace.Web.Services.LoggingService.customBinding0"
          contract="LiteApp.MySpace.Web.Services.LoggingService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
