<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="MySpace_Mongo"
      connectionString="mongodb://appharbor_c95eca19-bd46-46f9-96a1-ece783f42c14:tqh3i3njpb3ss450ira1fv3n0l@ds045637.mongolab.com:45637/appharbor_c95eca19-bd46-46f9-96a1-ece783f42c14"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <membership defaultProvider="MongoDBMembershipProvider">
      <providers>
        <add name="MongoDBMembershipProvider" type="MongoDB.Web.Providers.MongoDBMembershipProvider" applicationName="MySpace" requiresUniqueEmail="true" 
             connectionString="mongodb://appharbor_c95eca19-bd46-46f9-96a1-ece783f42c14:tqh3i3njpb3ss450ira1fv3n0l@ds045637.mongolab.com:45637/appharbor_c95eca19-bd46-46f9-96a1-ece783f42c14" 
             database="appharbor_c95eca19-bd46-46f9-96a1-ece783f42c14" collection="Users"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </providers>
    </membership>
  </system.web>
</configuration>